.carousel {
  .img_top {
    position: absolute;
    z-index: 3;
  }

  .container {
    position: relative;
    z-index: 4;
    padding-top: 50px;

    .carousel_left {
      h5 {
        color: $color-1;
        font-size: 1.1rem;
      }

      h1 {
        font-size: 3.5rem;
        font-weight: bold;
      }
    }

    .carousel_right {
      width: 80%;
    }
  }

  .img_bottom {
    position: absolute;
    bottom: -20px;
    z-index: 3;
  }
}
