.course {
  position: relative;
  top: -300px;
  z-index: 5;
  background-color: white;
  padding-top: 50px;

  .course_content {
    background-color: white;
    box-shadow: 5px 10px 15px rgba(22, 21, 21, 0.363);
    border-radius: 10px;

    form {
      h1 {
        font-weight: bold;
        margin: 30px 0;
      }

      i {
        width: 10%;
        color: $color-1;
      }
    }
  }

  button {
    @include button();
    padding: 10px 20px;
    margin-top: 20px;
  }

  .course_bottom {
    position: relative;
    bottom: 300px;
    z-index: -1;
  }
}
