header {
  position: fixed;
  width: 100%;
  z-index: 10;

  .navbar {
    padding: 0;
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        margin-right: 10px;

        a {
          color: black;
          text-decoration: none;
          margin-right: 10px;
          font-weight: 500;
          transition: 0.3s all;
          font-size: 0.9rem;

          &:hover {
            color: $color-1;
          }
        }

        button {
          @include button();
        }
      }
    }
  }
}
