@mixin button() {
  a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s all;

    &:hover {
      color: $color-1;
    }
  }

  border-radius: 20px;
  border-style: none;
  background-color: $color-1;
  transition: 0.3s all !important;

  &:hover {
    background-color: white;
    color: $color-1;
    box-shadow: 0 0 0 1px $color-1;
  }
}
